# Этот файл необходимо переименовать в .env

# Токен бота, узнать можно у https://t.me/botfather
BOT_TOKEN=123456789:abcdefghijklmnopqrstuvwxyz

# Режим FSM. Варианты: memory, redis
FSM_MODE=redis

# Настройки подключения к Redis
# Не все атрибуты обязательные,
# в некоторых случаях достаточно redis://host
REDIS=redis://user:pass@host:port
